/* container: square box that keeps the images */
.comparison {
  width: 100%;
  max-width: 600px;
  height: 0;
  padding-bottom: 100%; /* 1:1 ratio */
  position: relative;
  overflow: hidden;
}

/* before image */
.comparison figure { 
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  width: 100%; 
  height: 100%;
  margin: 0;
}

/* after image overlay */
.comparison .divisor { 
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%; /* js changes this */
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
}

/* slider styling below the image */
.comparison input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: absolute;
  top: 100%;
  margin-top: -2rem;
  left: -1%;
  background-color: rgba(255,255,255,0.1);
  width: 102%;
  z-index: 10;
}


.comparison input[type=range]:focus,
.comparison input[type=range]:active { 
  outline: none; 
}

.comparison input[type=range]::-moz-range-track { 
  -moz-appearance: none;
  height: 15px;
  width: 100%;
  background-color: rgba(255,255,255,0.1); 
  position: relative;
  outline: none;    
}

.comparison input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; 
  height: 15px;   
  background: #fff;
  border-radius: 0;
  cursor: pointer;
}

.comparison input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
  cursor: pointer;
}

.comparison input[type=range]:focus::-webkit-slider-thumb,
.comparison input[type=range]:focus::-moz-range-thumb {
  background: rgba(255,255,255,0.5);
}
